<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hss01248.threadview">
    <application>
        <provider
            android:authorities="${applicationId}.ThreadHookProvide"
            android:name=".ThreadHookProvider"
            android:exported="true"/>
        <activity android:name=".ThreadListActivity"
            android:label="ThreadList"
            android:icon="@mipmap/threadlist"
            android:launchMode="singleTask"
            android:taskAffinity="com.hss01248.threadview.task">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>